{% load static %}

{% with h3_class="uppercase font-kanit-700 text-black/55 text-[9px] leading-3 tracking-widest" p_class="text-meta text-black/55" img_class="grow-0 w-auto" %}



    <h3 class="{{ h3_class }}">Project Team</h3>
    {% include "partials/vertical-spacer.html" with space="3" %}
    <div class="flex flex-col flex-start sm:flex-row sm:flex-wrap pb-8 -mx-4.5 px-4.5 gap-8 sm:gap-x-16 overflow-auto">

        <div class="-mt-2 -mb-3">
            <img src="{% static 'images/partner_logos/essex.png' %}"
                 class="{{ img_class }} h-24"
                 alt="Essex University (prof. Peter Bloom)">
        </div>

        <div>
            <img src="{% static 'images/partner_logos/sfLogo.png' %}"
                 class="{{ img_class }} h-24"
                 alt="Future Innovators">
        </div>

      <div>
            <img src="{% static '/images/partner_logos/Innovate.jpg' %}"
                 class="{{ img_class }} h-24"
                 alt="">
        </div>

        {% include "partials/vertical-spacer.html" with space="3" %}
    </div>
{% endwith %}

<div class="">
    <a href="{% url 'privacy' %}" class="text-meta text-purple font-kanit-600 mr-2.5">
        Privacy Policy
    </a>
    <a href="https://github.com/animorphcoop/shared-futures-space" class="text-meta text-purple font-kanit-600 mr-2.5">
        Source Code
    </a>
</div>
{% include "partials/vertical-spacer.html" with space="8" %}